.App {
  padding: 20px;
  text-align: left;
}
.won-card{
  background-color: #4da375;
}
.lost-card{
  background-color:#f01919;
}
.more-link{
  align-self: center;
  justify-self: center;
  font-size: 1.5rm;
}